<h2>Your Bookmarks:</h2>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %></a>
        <p>Comments:</p>
        <% bookmark.comments.each do |comment| %>
        <p>=> <%= comment.text %></p>
        <% end %>
        <form action="/delete" method="post">
          <input type="hidden" name="id" value="<%= bookmark.id %>">
          <input id="delete <%= bookmark.title %>" type="submit" value="Delete">
        </form>
        <form action="/update" method="get">
          <input type="hidden" name="id" value="<%= bookmark.id %>">
          <input type="hidden" name="old_title" value="<%= bookmark.title %>">
          <input type="hidden" name="old_url" value="<%= bookmark.url %>">
          <input id="update <%= bookmark.title %>" type="submit" value="Update">
        </form>
        <form action="/comments/add" method="get">
          <input type="hidden" name="id" value="<%= bookmark.id %>">
          <input id="comment <%= bookmark.title %>" type="submit" value="Add Comment">
        </form>


    </li>
  <% end %>
</ul>

<div>

<a href="/add">Add a bookmark</a>


</div>
